<app-header></app-header>
<div class="container-fluid parent pb-4">
    
  <div class="row search-bar justify-content-center pb-3 pt-2">
    <div class="col-md-5 d-flex">
      <input type="text" class="form-control p-2 m-1" #movieInput placeholder="Introduce el título...">
      <button class="btn btn-search p-2 m-1">Buscar</button>
    </div>
  </div>

    <ng-container *ngIf="apiResponse['Response'] == 'False'; else elseTemplate">
      <div class=ex1 >
        <div class="col-12 text-center">
          <div class="alert alert-danger" role="alert">
            {{apiResponse['Error']}}
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <div class="row movie-list-info justify-content-center">
        <div class="col-md-3 movie-list mx-4">
          <div class="list-group" *ngFor="let movie of apiResponse['results']">
            <button class="list-group-item list-group-item-action mt-1" (click)="getDetails(this.movie)">
              {{movie['title']}}
            </button>
          </div>
        </div>
          
        <div class="col-md-6">
          <div class="card movie-details" [hidden]="isShowDiv">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w185/{{movieDetails['poster_path']}}" class="img-fluid rounded-start m-4 poster-img img-thumbnail" (click)="getTrailer(this.movie)">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">{{movieDetails['title']}}</h3>
                  <h6>{{year}}</h6>
                  <p>{{movieDetails['overview']}}</p>
                  <p> <b>Director(es):</b> {{directors}}</p>
                  <p> <b>Reparto:</b> {{actors}}</p>
                  <p> <b>Idioma original:</b> {{movieDetails['original_language']}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
</div>

