<app-header></app-header>
<div class="container-fluid">
    
  <!--app-search-bar></app-search-bar-->
  <div class="row text-center search-bar">
    <div class="col">
      <input type="text" class="form-control" #movieInput placeholder="Introduce el título...">
    </div>
    <div class="col ">
      <button class="btn btn-danger">Buscar</button>
    </div>
  </div>

    
    <ng-container *ngIf="apiResponse['Response'] == 'False'; else elseTemplate">
      <div class=ex1 >
        <div class="col-12 text-center">
          <div class="alert alert-danger" role="alert">
            {{apiResponse['Error']}}
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <!-- Per a cada pelicula obtinguda, creem una carta -->
      <div class="row movie-list-info">
        <!-- app-movie-list></app-movie-list -->
        <!-- INICI MOVIE LIST -->
        <div class="col-md-6">
          <div class="list-group" *ngFor="let movie of apiResponse['Search']">
            <button class="list-group-item list-group-item-action" (click)="getDetails(this.movie)">
              {{movie['Title']}}
            </button>
          </div>
        </div>
          
        <!-- FI MOVIE LIST -->

        <!-- app-movie-details></app-movie-details -->
        <!-- INICI MOVIE DETAILS -->
        <div class="col-md-5">
          <div class="card" [hidden]="isShowDiv">
            <img src="{{movieDetails['Poster']}}" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{movieDetails['Title']}}</h4>
              <p>{{movieDetails['Plot']}}</p>
              <p> <b>Director(s):</b> {{movieDetails['Director']}}</p>
              <p> <b>Reparto:</b> {{movieDetails['Actors']}}</p>
              <p> <b>Idioma:</b> {{movieDetails['Language']}}</p>
            </div>
          </div>
        </div>
        <!-- FI MOVIE DETAILS -->
      </div>
    </ng-template>
</div>

