<app-header></app-header>
<div class="container">
    <!--app-search-bar></app-search-bar-->
    <!-- INICI SEARCH BAR -->
    <div class="row text-center search-bar">
      <div class="col">
        <input type="text" class="search-input" id="inputTitle" placeholder="Introduce el título...">
      </div>
      <div class="col ">
        <button class="btn btn-danger">Buscar</button>
      </div>
    </div>
    <!-- FI SEARCH BAR-->

    <div class="row movie-list-info">
      <!-- app-movie-list></app-movie-list -->
      <!-- INICI MOVIE LIST -->
      <div class="col">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <td>La la land</td>
            </tr>
            <tr>
              <td>El padrino</td>
            </tr>
            <tr>
              <td>Los teletubbies</td>
            </tr>  
          </table>
        </div>
      </div>
      <!-- FI MOVIE LIST -->

      <!-- app-movie-details></app-movie-details -->
      <!-- INICI MOVIE DETAILS -->
      <div class="col">
        <div class="col-md-5">
          <h2>Titol pelicula</h2>
          <p>jhfcgew sjsgf cblie wu ghfhb cñiquerh bfcv iujkwe   qgbvcfi ñlugb rvcui irwuefv c qerhvcñ kide qravhkñerh lkujwfh lkerhfvjkh ewl h</p>
        </div>
      </div>
      <!-- FI MOVIE DETAILS -->
    </div>
      
  
  



  
</div>

